<section class="leatest-product">
  <div class="container">
      <h2 class="section-title text-center">Leatest Products</h2>
      <div class="leatest-product-content">
          <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-newarrival-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-newarrival" type="button" role="tab" aria-controls="pills-newarrival"
                  aria-selected="true">New Arrival</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-bestseller-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-bestseller" type="button" role="tab" aria-controls="pills-bestseller"
                  aria-selected="false">Best Seller</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-featured-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-featured" type="button" role="tab" aria-controls="pills-featured"
                  aria-selected="false">Fearuted</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-specialoffer-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-specialoffer" type="button" role="tab" aria-controls="pills-specialoffer"
                  aria-selected="false">Special Offer</button>
              </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-newarrival" role="tabpanel"
              aria-labelledby="pills-newarrival-tab">
                  <div class="row">

                      <div *ngFor="let product of productList" class="col-xl-4 col-lg-4 col-md-4">
                          <div class="single-product-item card">
                              <div class="option-product">
                                  <ul class="option-product-hover">
                                      <li class="navigation-link">
                                          <a href="" title="Add to Cart"><span class="iconify" data-icon="fluent:cart-24-regular" data-width="20"></span></a>
                                      </li>
                                      <li class="navigation-link">
                                          <a href="" title="Wish List"><span class="iconify" data-icon="uil:heart-alt" data-width="18"></span></a>
                                      </li>
                                      <li class="navigation-link">
                                          <a href=""><span class="iconify" data-icon="uil:search-plus" data-width="18"></span></a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="card-img-top">
                                  <a href="#" >
                                      <img class ="product-img" src={{product.thumbnail}} alt="">
                                  </a>
                                  <!-- <div class="p-status text-center">Sale</div> -->
                              </div>

                              <div class="card-body product-info d-flex">
                                  <div class="product-name">{{product.title}}</div>

                                  <div class="product-price">
                                      <span class="discount-price">${{product.price}}</span>
                                      <span class="initial-price text-decoration-line-through">00$</span>
                                  </div>
                              </div>
                              <hr class="line-product-name">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </section>
