<div class="sidebar__categories__filter mt-44">
  <div class="sidebar__title">
      <h3 class="text-decoration-underline">Categories</h3>
  </div>
  <div class="list__categories d-flex flex-column">
      <label class="checkbox__filter" for="prestashop">Prestashop
          <input type="checkbox" name="" id="prestashop">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="magento">MMagento
          <input type="checkbox" name="" id="magento">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="bigcommerce">Bigcommerce
          <input type="checkbox" name="" id="bigcommerce" checked>
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="oscommerce">osCommerce
          <input type="checkbox" name="" id="oscommerce">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="3dcart">3dcart
          <input type="checkbox" name="" id="3dcart">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="bags">Bags
          <input type="checkbox" name="" id="bags">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="accessories">Accessories
          <input type="checkbox" name="" id="accessories">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="jewellery">Jewellery
          <input type="checkbox" name="" id="jewellery">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="watches">Watches
          <input type="checkbox" name="" id="watches">
          <span class="checkmark"></span>
      </label>
  </div>
</div>
