 <section class="navbar-header">
  <div class="container">
      <nav class="navbar navbar-expand-lg" > <!--id="hekto-navbar"-->
          <div class="container-fluid">
              <a href="#" class="navbar-brand fw-bold">NTTDATA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                  <ul class="navbar-nav col-xl-6 col-lg-6 col-md-6">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="shop-left-side">Shop Left Sidebar</a>
                              <a class="dropdown-item" href="./html/shop-list.html">Shop List</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link">Pages</a>
                      </li>
                      <li class="nav-item">
                          <a href="./html/product-details.html" class="nav-link">Products</a>
                      </li>
                      <li class="nav-item">
                          <a href="./html/blog-page.html" class="nav-link">Blog</a>
                      </li>
                      <li class="nav-item">
                          <a href="./html/shop-grid-default.html" class="nav-link">Shop</a>
                      </li>
                      <li class="nav-item">
                          <a href="./html/contact.html" class="nav-link">Contact</a>
                      </li>
                  </ul>

                  <form class="form-inline my-2 my-lg-0 d-flex col-xl-6 col-lg-6 col-md-6 justify-content-end pe-0">
                      <input type="search" name="" id="" class="form-control mr-sm-2">
                      <button type="submit" class="btn btn-search my-2 my-sm-0"><span class="iconify" data-icon="uil:search"></span></button>
                  </form>
              </div>
          </div>
      </nav>
  </div>
</section>
