<app-header></app-header>
<app-nav-bar></app-nav-bar>
<app-header-section></app-header-section>
<app-top-nav-fillter></app-top-nav-fillter>
<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3">

        <app-side-menu-fillter></app-side-menu-fillter>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9">
        <app-products-list></app-products-list>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
<router-outlet></router-outlet>
