<section class="header-top">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 text-white d-flex">
              <div class="topbar-mail">
                  <span class="iconify" data-icon="uil:envelope-alt"></span>mhhasanul@gmail.com
              </div>
              <div class="topbar-phone">
                  <span class="iconify" data-icon="bx:phone-call"></span>(12345)67890
              </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 p-0 header-top-rightbar">
              <ul class="nav justify-content-end pt-2">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-white pe-0" data-toggle="dropdown" href="#"
                      role="button" aria-haspopup="true" aria-expanded="false">English</a>
                      <div class="dropdown-menu">
                          <a href="#" class="dropdown-item">Spain</a>
                          <a href="#" class="dropdown-item">Frech</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-white pe-0" data-toggle="dropdown" href="#"
                      role="button" aria-haspopup="true" aria-expanded="false">USD</a>
                      <div class="dropdown-menu">
                          <a href="#" class="dropdown-item">EURO</a>
                          <a href="#" class="dropdown-item">VND</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a  class="nav-link text-white"  href="login" pe-0>Login<span class="iconify" data-icon="carbon:user" style="margin-bottom: 4px;"></span></a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-white pe-0">Wishlist <span class="iconify" data-icon="uil:heart-alt" style="margin-bottom: 4px;"></span></a>
                  </li>
                  <li class="nav-item">
                      <a href="./html/shopping-cart.html" class="nav-link text-white pt-1 pe-0"><span class="iconify" data-icon="fluent:cart-24-regular" style="font-size: 24px;"></span></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
