<section class="promotion">
  <img class="img-bg-promo" src="./assets/lamp.png" alt="">
  <div class="container">
      <div class="owl-carousel owl-theme">
          <div class="item row" data-dot="<span></span>">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="promo-slogan text-pink text-lato fw-bold">Best Furniture For Your Castle....</p>
                  <h3 class="promo-title fw-bold">New Furniture Collection <br class="d-none d-xl-block">Trends in 2020</h3>
                  <p class="promo-desc text-lato fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
                      <br class="d-none d-xl-block">in phasellus non in justo.</p>
                  <button class="btn btn-shopping-now">Shop Now</button>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <img src="./assets/chair.png" alt="">
              </div>
          </div>
          
            </div>
          </div>
</section>
