<div class="sidebar__discount__offer mt-44">
  <div class="sidebar__title">
      <h3 class="text-decoration-underline">Discount Offer</h3>
  </div>
  <div class="list__offer d-flex flex-column">
      <label class="checkbox__filter" for="20_cashback">20% Cashback
          <input type="checkbox" name="" id="20_cashback">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="5_cashback">5% Cashback Offer
          <input type="checkbox" name="" id="5_cashback">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="25_cashback">25% Discount Offer
          <input type="checkbox" name="" id="25_cashback">
          <span class="checkmark"></span>
      </label>
  </div>
</div>
