<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-xl-4 col-lg-4">
              <div class="contact">
                  <h2 class="logo">Hekto</h2>
                  <div class="buttonIn">
                      <input type="email" name="" id="" placeholder="Enter Email Address" class="text-lato">
                      <button>Sign Up</button>
                  </div>
                  <p>Contact Info</p>
                  <p>17 Princess Road , London, Greater London NW1 8JR,UK</p>
              </div>
          </div>
          <div class="nav-footer col-xl-8 col-lg-8">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4">
                      <h5>Categories</h5>
                      <ul>
                          <li><a href="">Laptops & Computers</a></li>
                          <li><a href="">Cameras & Photography</a></li>
                          <li><a href="">Smart Phones & Tablets</a></li>
                          <li><a href="">Video Games & Consoles</a></li>
                          <li><a href="">Waterproof Headphones</a></li>
                      </ul>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                      <h5>Customer Care</h5>
                      <ul>
                          <li><a href="">My Account</a></li>
                          <li><a href="">Discount</a></li>
                          <li><a href="">Returns</a></li>
                          <li><a href="">Orders History</a></li>
                          <li><a href="">OrderTracking</a></li>
                      </ul>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                      <h5>Pages</h5>
                      <ul>
                          <li><a href="">Blog</a></li>
                          <li><a href="">Browse the Shop</a></li>
                          <li><a href="">Category</a></li>
                          <li><a href="">Pre-Built Pages</a></li>
                          <li><a href="">Visual Composer Elements</a></li>
                          <li><a href="">WooEcommerce Pages</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
