<div class="container">
  <div class="row">
      <div class="col-xl-4 col-lg-3 col-md-12 title">
          <h4>Ecommerce Acceories & Fashion item</h4>
          <p>About 9.620 results (0.62 seconds)</p>
      </div>
      <div class="col-xl-8 col-lg-9 col-md-12 product-sorting">
          <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-7">
                  <div class="d-flex justify-content-end">
                      <div class="d-flex">
                          <label for="per-page">Per Page:  </label>
                          <input type="text" id="per-page">
                      </div>
                      <div class="filter__sort d-flex">
                          <p>Sort By: </p>
                          <form action="" method="get">
                              <select name="select" id="sortBy">
                                  <option value="value">Best Match</option>
                                  <option value="value">Best Match</option>
                                  <option value="value">Best Match</option>
                              </select>
                          </form>
                      </div>
                  </div>
              </div>
              <div class=" col-xl-5 col-lg-5 col-md-5">
                  <div class="d-flex view justify-content-end">
                      <p>View: </p>
                      <a href="./shop-grid-default.html"><span class="iconify" data-icon="clarity:grid-view-solid"></span></a>
                      <a href="./shop-list.html"><span class="iconify" data-icon="fa-solid:list"></span></a>
                      <input type="text">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
