<div class="sidebar__price__filter mt-44">
  <div class="sidebar__title">
      <h3 class="text-decoration-underline">Price Filter</h3>
  </div>
  <div class="list__price d-flex flex-column">
      <label class="checkbox__filter" for="price__01">$0.00 - $150.00
          <input type="checkbox" name="" id="price__01">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="price__02">$150.00 - $350.00
          <input type="checkbox" name="" id="price__02">
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="price__03">$150.00 - $504.00
          <input type="checkbox" name="" id="price__03" checked>
          <span class="checkmark"></span>
      </label>
      <label class="checkbox__filter" for="price__04">$450.00 +
          <input type="checkbox" name="" id="price__04">
          <span class="checkmark"></span>
      </label>
      <form action="" class="price-filter">
          <input type="search" placeholder="$10.00 - 20000$">
          <button><span class="iconify" data-icon="uil:search"></span></button>
      </form>
      <!-- <input type="search" name="" class="price-filter" id="" placeholder="$10.00 - 20000$"> -->
  </div>
</div>
